canvas {
    max-width: 90%;
    max-height: 90%;
    background-color: #ffffff;
    border-radius: 24px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
}

/* Tweakpane appare in alto a destra di default, 
   non serve scrivere CSS */
